body {
  font-family: 'Montserrat', sans-serif; /* High-class font */
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ff009e;
  letter-spacing: 1px;
}

.wheel-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Maintain a square aspect ratio */
  margin-bottom: 40px;
}

.wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #f2a4b1;
  background-color: #93c4d5;
  transform: rotate(0deg);
  transition: transform 4s ease-out;
  overflow: hidden; /* Ensure sectors don't overflow */
}

.sector {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sector span {
  transform: rotate(-36deg);
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 1.2;
}

.pointer {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #ff6f61;
  transform: translateX(-50%);
  clip-path: polygon(50% 0%, 100% 38%, 80% 100%, 50% 75%, 20% 100%, 0% 38%);
}


button {
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  background-color: #bad0b9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #343a40;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #ff009e;
}
