@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background: url('z.jpeg') no-repeat center center fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#ui {
  position: relative;
}

.text {
  position: absolute;
  font-size: 10rem;
  color: #fff;
  line-height: 10rem;
  font-family: 'Anton', sans-serif;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  letter-spacing: 1rem;
}

.text:nth-child(1) {
  color: rgba(30, 100, 255, 1);
  animation: clip1 20000ms ease-in-out infinite alternate;
  filter: blur(5px);
}

@keyframes clip1 {
  0%, 25%, 50%, 75%, 100% {
    clip-path: circle(100px at 80px 80px);
  }
}
